.textarea-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end; /* Align children to the bottom */
  box-sizing: border-box;
}

.auto-resizing-textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 50px;
  resize: none; /* Disable manual resizing */
  overflow: hidden; /* Hide the scrollbar */
  position: absolute;
  bottom: 0; /* Position at the bottom of the container */
  outline: none;
}

textarea:disabled {
  background-color: white;
  color: black;
  border-color: #ccc;
  opacity: 1;
  cursor: not-allowed; /* Optional: Keeps the cursor indicating it's not clickable */
}

.text-button {
  height: 25px;
  width: 25px;
  color: white;
  z-index: 10;
  position: relative;
  bottom: 10px;
  right: -375px;
  text-align: center;
  font-size: 25px;
}
