.keyboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  margin-top: 5px;
  padding: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
}

.middle-row {
  padding-left: 15px;
  padding-right: 15px;
}

.keyboard-key {
  height: 50px;
  width: 35px;
  font-size: 15px;
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  text-align: center;
}

.key-space {
  flex: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.key-return {
  width: 75px;
}

.key-123 {
  width: 75px;
}

.key-ABC {
  width: 75px;
}

.key-\#\+\= {
  width: 55px;
}

.key-⌫ {
  width: 55px;
  font-size: 20px;
}

.key-⬆ {
  width: 55px;
}
