.messages-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 1000px;
  overflow-y: scroll;
  gap: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.message {
  border-radius: 16px;
  width: auto;
  max-width: 80%;
  padding: 10px;
  display: inline-block;
  align-self: flex-start;
  word-wrap: break-word; /* Ensures long words are wrapped */
  flex-shrink: 0;
}

.other {
  background-color: #e9e9eb;
  color: black;
}

.self {
  background-color: #007aff;
  color: white;
}
